.scroll-to-top {
    position: fixed;
    bottom: 20px;
    right: 20px;
    padding: 10px 15px;
    font-size: 24px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    opacity: 0.8;
    transition: opacity 0.3s ease;
    behavior: 'smooth'
}

.scroll-to-top:hover {
    opacity: 1;
}
