header {
    height: 20vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    justify-content: space-around;
}

.logo_h1_container{
    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    height: 20vh;
}