@import url('https://fonts.googleapis.com/css2?family=Exo+2:ital,wght@0,100..900;1,100..900&family=Itim&display=swap');

nav {
    width: 50vw;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}

.navbar-links{
    color: #242424;
    font-family: "Itim", cursive;
    font-weight: 500;
    font-style: normal;
    font-size: large;
    transition: .5s;
}

.navbar-links:hover{
    color: black;
    text-decoration: underline;
}

.menu-toggle {
    display: none;
    position: fixed;
    top: 10px;
    right: 10px;
    color: black;
    border: none;
    border-radius: 10px;
    padding: 10px 15px;
    cursor: pointer;
    z-index: 1;
    transition: left 0.3s ease;
  }

  .menu-toggle:focus {
    outline: none;
  }


  @media screen and (max-width: 800px){
    .sidebar{
        width: 100vw;
        transform: translateX(-100%);
    }
    
    .sidebar.open {
        transform: translateX(0);
    }
    
    .menu-toggle {
    display: block;
    position: fixed;
    z-index: 999;
    }

    .navbar-links{
        display: none;
    }
}

@media screen and (max-width: 500px){
    .sidebar {
        width: 100vw;
    }
}